<div class="left-menu">
  <div class="main-menu">
    <ul>
      <li class="nav-item">
        {{#link-to "index.product.index.product" class="button nav-link"}}
          <i class="icon-grid icons"></i> <span>Sản phẩm</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "index.product.index.barcode" class="button nav-link"}}
          <i class="icon-note icons"></i> <span>In mã vạch</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "index.product.index.product-group" class="button nav-link"}}
          <i class="icon-folder icons"></i> <span>Nhóm sản phẩm</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "index.product.index.unit" class="button nav-link"}}
          <i class="icon-folder icons"></i> <span>Đơn vị sản phẩm</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "index.product.index.producer" class="button nav-link"}}
          <i class="icon-folder icons"></i> <span>Hãng sản xuất</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "index.product.index.country" class="button nav-link"}}
          <i class="icon-folder icons"></i> <span>Nước sản xuất</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "index.product.index.supplier" class="button nav-link"}}
          <i class="icon-folder icons"></i> <span>Nhà cung cấp</span>
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
{{outlet}}