<div class="left-menu">
  <div class="main-menu">
    <ul>
      <li class="nav-item">
        {{#link-to "index.setting.index.option" class="button nav-link"}}
          <i class="icon-settings icons"></i> <span>Cài đặt</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "index.setting.index.role" class="button nav-link"}}
          <i class="icon-ban icons"></i> <span>Phân quyền</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "index.setting.index.staff" class="button nav-link"}}
          <i class="icon-people icons"></i> <span>Nhân viên</span>
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
{{outlet}}