<div class="main-body">
  <h1 class="box-title">Nước sản xuất</h1>
  <div class="main-content">
    <div class="box-button">
      <button class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Thêm mới</button>
      {{common/bar-code value="abc123456"}}
    </div>
  </div>
</div>

