<div class="left-menu">
  <div class="main-menu">
    <ul>
      <li class="nav-item">
        {{#link-to "index.customer.index.customer" class="button nav-link"}}
          <i class="icon-people icons"></i> <span>Khách hàng</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "index.customer.index.doctor" class="button nav-link"}}
          <i class="icon-people icons"></i> <span>Bác sĩ</span>
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
{{outlet}}